* {
  margin: 0;
  padding: 0;
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a54d4d;
  display: block;
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 120px;
}

ul {
  font-size: 35px;
}

.menu__element {
  float: left;
  height: 120px;
}

.menu__element a {
  display: block;
  /* border: 1px solid #7a3636; */
  /* background: rgba(138, 55, 55, 0.3); */
  color: #ffffff;
  text-align: right;
  padding: 35px 25px;
  text-decoration: none;
  font-size: 35px;
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}


.menu__element a:hover {
  background-color: #853d3d;
  transform: translateY(-1px);
  /* transition: box-shadow .5s, transform .5s; */
  transition: .3s linear;
}

.hi {
  float: right;
}

input {
  font-size: 30px;
  max-width: 400px;
  font-family: "Shantell Sans", cursive;
}

.main-button {
  align-items: center;
  appearance: none;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(66, 35, 35, 0.4) 0 2px 4px, rgba(66, 35, 35, 0.3) 0 7px 13px -3px, #e7d6d6 0 -3px 0 inset;
  box-sizing: border-box;
  color: #5a3636;
  cursor: pointer;
  display: inline-flex;
  font-family: "Shantell Sans", cursive;
  height: 50px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: right;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 30px;
}

.main-button:focus {
  box-shadow: #e7d6d6 0 0 0 1.5px inset, rgba(66, 35, 35, 0.4) 0 2px 4px, rgba(66, 35, 35, 0.3) 0 7px 13px -3px, #e7d6d6 0 -3px 0 inset;
}

.main-button:hover {
  box-shadow: rgba(66, 35, 35, 0.4) 0 4px 8px, rgba(66, 35, 35, 0.3) 0 7px 13px -3px, #e7d6d6 0 -3px 0 inset;
  transform: translateY(-1px);
}

.main-button:active {
  box-shadow: #e7d6d6 0 3px 7px inset;
  transform: translateY(1px);
}

.add-words-input__button {
  width: 100px;
  font-family: "Shantell Sans", cursive;
}

.logo {
  padding: 25px 30px;
  /* object-fit: fill; */
  padding-left: 16px;
  padding-right: 16px;
  height: 70px;
  /* max-height: inherit; */
}

label {
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shantell Sans", cursive;
  font-size: 50px;
}

.select {
  position: relative;
  width: 500px;
}

.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}

.select select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 100%;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}

.select select:required:invalid {
  color: #5a667f;
}

.select select option {
  color: #542222;
}

.select select option[value=""][disabled] {
  display: none;
}

.select select:focus {
  outline: none;
  border-color: rgb(160, 56, 56);
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}

.select select:hover+svg {
  stroke: rgb(255, 0, 0);
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.current-card__text {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}