* {
  margin: 0;
  padding: 0;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.menu__element {
  float: left;
}

.menu__element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu__element a:hover:not(.active) {
  background-color: #111;
}
