{% extends "index.html" %}
{% load static %}

{% block title %}Создание словаря{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<form onsubmit="createDict(event)">
  <!-- django вставляет скрытый инпут с csrf_token в форму сам -->
  {% csrf_token %}
  <input type="text" required name="name" placeholder="Название словаря" />
  <label class="select" for="slct">
    <select name="lang1">
      {% for lang in langs %}
      <option value="{{ lang.id }}">{{ lang.name }}</option>
      {% endfor %}
    </select>
    <select name="lang2">
      {% for lang in langs %}
      <option value="{{ lang.id }}">{{ lang.name }}</option>
      {% endfor %}
    </select>
  </label>
  <div class="words_input_container">
    <div class="words_input_container__word">
      <input type="text" required name="word1" />
      <input type="text" required name="word2" />
      <input type="button" class="delete-words-input__button" onclick="delete_words_input(event.target.parentNode)"
        value="X" />
    </div>
  </div>
  <input type="button" class="add-words-input__button" onclick="add_words_input()" value="+" />
  <button class="main-button">Создать словарь</button>
</form>
{% else %}
<p>Не авторизован.</p>
{% endif %}
{% endblock %}