{% extends "index.html" %}
{% load static %}

{% block title %}Моё{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if dicts %}
<ul>
  <!-- цикл по массиву dicts из контекста -->
  {% for dict in dicts %}
  <li>
    <a href="dict/{{ dict.id }}">{{ dict.name }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>У вас пока нет словарей.</p>
{% endif %}
<form action="/create-dict">
  <button class="main-button">Создать словарь</button>
</form>
{% else %}
<p>Не авторизован.</p>
{% endif %}
{% endblock %}